nav
    a(href="/") Home
    br
    a(href="/list") List
    br
    a(href="/student") All Students
    br
    a(href="/ongoingCourse") All Ongoing Courses
    br
    a(href="/courseForm") Filter Courses
    br
    a(href="/studentForm") Filter Students
    br
    a(href="/error") Error
    br
    